Repository taiyme/misskey, pull requests merged in 2023-03, with the labels that each got.

#70 Release: 1.0.42
  .github/workflows/docker/Dockerfile.arm64
  .github/workflows/release.yaml
  CHANGELOG.md
  docker-compose.yml
  package.json
  packages/client/src/components/MkMediaList.vue
  packages/client/src/components/MkModal.vue
  packages/client/src/scripts/tms/url-hash.ts
  packages/client/src/ui/universal.vue
Labels: release-patch

#75 feat(client): tms: いまのなし
  packages/client/src/components/MkPostForm.vue
  packages/client/src/pages/settings/taiyme-services.vue
  packages/client/src/scripts/tms/imanonashi.ts
  packages/client/src/scripts/tms/words.ts
  packages/client/src/store.ts
Labels: frontend

#79 Release: 1.0.44
  docker-compose.yml
  package.json
  scripts/build-pre.js
Labels: release-patch

#86 Release: 1.0.46
  docker-compose.yml
  package.json
  packages/backend/src/misc/clone.ts
  packages/backend/src/models/repositories/drive-file.ts
  packages/backend/src/server/api/endpoints/admin/drive/files.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/web/manifest.ts
  packages/backend/src/services/blocking/create.ts
  packages/backend/src/services/relay.ts
  packages/client/src/components/MkContextMenu.vue
  packages/client/src/components/MkMenu.child.vue
  packages/client/src/components/MkMenu.vue
  packages/client/src/components/MkModal.vue
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteDetailed.vue
  packages/client/src/components/MkPageWindow.vue
  packages/client/src/components/MkPostForm.vue
  packages/client/src/pages/settings/reaction.vue
  packages/client/src/pages/settings/statusbar.statusbar.vue
  packages/client/src/pages/timeline.vue
  packages/client/src/scripts/clone.ts
  packages/client/src/scripts/get-note-menu.ts
  packages/client/src/scripts/get-user-menu.ts
  packages/client/src/scripts/theme.ts
  packages/client/src/scripts/tms/pakuru.ts
  packages/client/src/scripts/use-chart-tooltip.ts
  packages/client/src/ui/deck/deck-store.ts
  packages/client/src/widgets/job-queue.vue
  packages/client/src/widgets/widget.ts
Labels: release-patch

#87 enhance(client): MkPageHeaderをv13仕様にする
  packages/client/src/components/global/MkPageHeader.tabs.vue
  packages/client/src/components/global/MkPageHeader.vue
  packages/client/src/pages/timeline.vue
  packages/client/src/pages/user/index.timeline.vue
Labels: frontend

#92 enhance(frontend): tms: リアクションメニュー
  locales/en-US.yml
  locales/ja-CJP.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  packages/backend/assets/emoji-unknown.png
  packages/client/src/components/MkEmojiPicker.vue
  packages/client/src/components/MkReactedUsersDialog.vue
  packages/client/src/components/MkReactionTooltip.vue
  packages/client/src/components/MkReactionsViewer.details.vue
  packages/client/src/components/MkReactionsViewer.reaction.vue
  packages/client/src/components/global/MkEmoji.vue
  packages/client/src/pages/settings/taiyme-services.vue
  packages/client/src/scripts/emojilist.ts
  packages/client/src/scripts/tms/get-react-menu.ts
  packages/client/src/store.ts
Labels: frontend

#85 taiyme-servicesの設定をmisskey本体の設定から分離して端末間で同期するようにした
  packages/client/src/components/MkInstanceTicker.vue
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkReactionsViewer.reaction.vue
  packages/client/src/components/MkRenoteButton.vue
  packages/client/src/components/MkSubNoteContent.vue
  packages/client/src/pages/settings/taiyme-services.vue
  packages/client/src/scripts/tms/imanonashi.ts
  packages/client/src/scripts/tms/url-hash.ts
  packages/client/src/store.ts
  packages/client/src/tms/store.ts
Labels: frontend

#96 enhance(backend): 配送先が410 Goneで応答した場合は自動で配送を停止するように
  packages/backend/src/queue/index.ts
  packages/backend/src/queue/processors/deliver.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/remote/activitypub/deliver-manager.ts
  packages/backend/src/server/api/common/read-messaging-message.ts
  packages/backend/src/server/api/endpoints/admin/resolve-abuse-user-report.ts
  packages/backend/src/server/api/endpoints/notes/polls/vote.ts
  packages/backend/src/services/blocking/create.ts
  packages/backend/src/services/blocking/delete.ts
  packages/backend/src/services/following/create.ts
  packages/backend/src/services/following/delete.ts
  packages/backend/src/services/following/reject.ts
  packages/backend/src/services/following/requests/accept.ts
  packages/backend/src/services/following/requests/cancel.ts
  packages/backend/src/services/following/requests/create.ts
  packages/backend/src/services/messages/create.ts
  packages/backend/src/services/messages/delete.ts
  packages/backend/src/services/relay.ts
  packages/backend/src/services/suspend-user.ts
  packages/backend/src/services/unsuspend-user.ts
Labels: backend

#99 feat(frontend): 文字数カウンター
  packages/client/src/components/MkAbuseReportWindow.vue
  packages/client/src/components/MkDialog.vue
  packages/client/src/components/MkFormDialog.vue
  packages/client/src/components/MkPostForm.vue
  packages/client/src/components/form/input.vue
  packages/client/src/components/form/textarea.vue
  packages/client/src/os.ts
  packages/client/src/pages/channel-editor.vue
  packages/client/src/pages/clip.vue
  packages/client/src/pages/my-antennas/editor.vue
  packages/client/src/pages/my-clips/index.vue
  packages/client/src/pages/my-groups/group.vue
  packages/client/src/pages/my-groups/index.vue
  packages/client/src/pages/my-lists/index.vue
  packages/client/src/pages/my-lists/list.vue
  packages/client/src/pages/settings/profile.vue
  packages/client/src/pages/settings/webhook.edit.vue
  packages/client/src/pages/settings/webhook.new.vue
  packages/client/src/scripts/get-note-menu.ts
Labels: frontend

#100 Release: 1.0.48
  docker-compose.yml
  package.json
  packages/backend/src/misc/clone.ts
  packages/client/src/components/MkAbuseReportWindow.vue
  packages/client/src/components/MkDialog.vue
  packages/client/src/components/MkFormDialog.vue
  packages/client/src/components/MkPostForm.vue
  packages/client/src/components/form/input.vue
  packages/client/src/components/form/textarea.vue
  packages/client/src/os.ts
  packages/client/src/pages/channel-editor.vue
  packages/client/src/pages/clip.vue
  packages/client/src/pages/my-antennas/editor.vue
  packages/client/src/pages/my-clips/index.vue
  packages/client/src/pages/my-groups/group.vue
  packages/client/src/pages/my-groups/index.vue
  packages/client/src/pages/my-lists/index.vue
  packages/client/src/pages/my-lists/list.vue
  packages/client/src/pages/settings/profile.vue
  packages/client/src/pages/settings/webhook.edit.vue
  packages/client/src/pages/settings/webhook.new.vue
  packages/client/src/plugin.ts
  packages/client/src/scripts/clone.ts
  packages/client/src/scripts/get-note-menu.ts
  packages/client/src/store.ts
Labels: release-patch

#101 enhance(frontend): リサイズ可能な絵文字ピッカー
  packages/client/package.json
  packages/client/src/components/MkAutocomplete.vue
  packages/client/src/components/MkEmojiPicker.section.vue
  packages/client/src/components/MkEmojiPicker.vue
  packages/client/src/components/MkEmojiPickerWindow.vue
  packages/client/src/components/global/MkEmoji.vue
  packages/client/src/instance.ts
  packages/client/src/pages/mfm-cheat-sheet.vue
  packages/client/src/style.scss
Labels: frontend

#104 enhance(frontend): tms: ノートのインスタンス情報の表示位置
  packages/client/src/components/MkInstanceTicker.vue
  packages/client/src/components/MkNote.sample.vue
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteDetailed.vue
  packages/client/src/pages/settings/taiyme-services.vue
  packages/client/src/scripts/tms/get-react-menu.ts
  packages/client/src/tms/store.ts
Labels: frontend

#106 enhance: tms: ノートの操作部をホバー時のみ表示するオプションなど
  packages/client/src/components/MkContainer.vue
  packages/client/src/components/MkContextMenu.vue
  packages/client/src/components/MkDateSeparatedList.vue
  packages/client/src/components/MkFolder.vue
  packages/client/src/components/MkInstanceTicker.vue
  packages/client/src/components/MkModal.vue
  packages/client/src/components/MkNote.sample.vue
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteDetailed.vue
  packages/client/src/components/MkNotification.vue
  packages/client/src/components/MkPagination.vue
  packages/client/src/components/MkReactionsViewer.reaction.vue
  packages/client/src/components/MkReactionsViewer.vue
  packages/client/src/components/MkRenoteButton.vue
  packages/client/src/components/MkSubNoteContent.vue
  packages/client/src/components/MkToast.vue
  packages/client/src/components/MkTooltip.vue
  packages/client/src/components/MkUrlPreview.vue
  packages/client/src/components/MkUrlPreviewPopup.vue
  packages/client/src/components/MkUserPreview.vue
  packages/client/src/components/MkWindow.vue
  packages/client/src/components/form/suspense.vue
  packages/client/src/components/global/MkAcct.vue
  packages/client/src/components/global/MkError.vue
  packages/client/src/components/global/MkPageHeader.tabs.vue
  packages/client/src/components/global/MkPageHeader.vue
  packages/client/src/debug.ts
  packages/client/src/os.ts
  packages/client/src/pages/_error_.vue
  packages/client/src/pages/admin/overview.federation.vue
  packages/client/src/pages/follow-requests.vue
  packages/client/src/pages/gallery/post.vue
  packages/client/src/pages/messaging/messaging-room.vue
  packages/client/src/pages/my-lists/list.vue
  packages/client/src/pages/note.vue
  packages/client/src/pages/page.vue
  packages/client/src/pages/settings/taiyme-services.vue
  packages/client/src/pages/user/followers.vue
  packages/client/src/pages/user/following.vue
  packages/client/src/pages/user/index.vue
  packages/client/src/scripts/check-word-mute.ts
  packages/client/src/scripts/get-note-menu.ts
  packages/client/src/scripts/scroll.ts
  packages/client/src/scripts/tms/get-react-menu.ts
  packages/client/src/scripts/tms/is-pure-renote.ts
  packages/client/src/scripts/tms/pakuru.ts
  packages/client/src/scripts/tms/utils.ts
  packages/client/src/scripts/use-document-visibility.ts
  packages/client/src/tms/store.ts
  packages/client/src/types/date-separated-list.ts
  packages/client/src/ui/_common_/statusbar-federation.vue
  packages/client/src/ui/_common_/statusbar-rss.vue
  packages/client/src/ui/_common_/statusbar-user-list.vue
  packages/client/src/ui/classic.vue
  packages/client/src/ui/deck.vue
  packages/client/src/ui/universal.vue
  packages/client/src/ui/visitor/b.vue
  packages/client/src/widgets/federation.vue
  packages/client/src/widgets/rss-ticker.vue
  packages/client/src/widgets/trends.vue
Labels: frontend

#115 perf(backend): improve performance of timeline apis
  packages/backend/src/misc/gen-id.ts
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
Labels: backend

#114 feat: oEmbedのサポート
  packages/backend/package.json
  packages/backend/src/misc/fetch.ts
  packages/backend/src/server/web/url-preview.ts
  packages/client/package.json
  packages/client/src/components/MkUrlPreview.vue
  packages/client/src/scripts/intl-const.ts
  pnpm-lock.yaml
Labels: frontend, backend

#111 feat(mfm): DLsiteのRJ番号をリンク化する
  packages/client/src/components/MkDlsite.link.vue
  packages/client/src/components/mfm.ts
  packages/client/src/scripts/tms/parse-mfm-text.ts
Labels: frontend

#121 Release: 1.1.1
  .github/workflows/release.yaml
  CHANGELOG.md
  docker-compose.yml
  package.json
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/client/src/components/MkNote.sample.vue
  packages/client/src/components/MkReactionsViewer.reaction.vue
  packages/client/src/components/MkReactionsViewer.vue
  packages/client/src/scripts/use-note-capture.ts
  packages/client/src/ui/deck/column.vue
Labels: release-patch

#122 Release: 1.1.2
  .github/workflows/release.yaml
  CHANGELOG.md
  docker-compose.yml
  package.json
Labels: release-patch

#124 Release: 1.1.4
  CHANGELOG.md
  docker-compose.yml
  package.json
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkPagination.vue
  packages/client/src/components/MkSubNoteContent.vue
Labels: release-patch
