Repository taiyme/misskey, pull requests merged in 2024-04, with the labels that each got.

#192 Merge upstream
  .github/workflows/check-misskey-js-autogen.yml
  CHANGELOG.md
  cypress/support/commands.ts
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/assets/redoc.html
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/core/entities/ClipEntityService.ts
  packages/backend/src/misc/is-pure-renote.ts
  packages/backend/src/misc/is-quote.ts
  packages/backend/src/misc/is-renote.ts
  packages/backend/src/models/json-schema/clip.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/api/endpoints/i/update-email.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/test/unit/NoteCreateService.ts
  packages/backend/test/unit/misc/is-renote.ts
  packages/frontend/src/components/MkClipPreview.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/pages/settings/emoji-picker.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/idb-proxy.ts
  packages/frontend/src/scripts/tms/get-appear-note.ts
  packages/frontend/src/scripts/tms/is-pure-renote.ts
  packages/frontend/src/scripts/tms/is-renote.ts
  packages/frontend/src/scripts/tms/to-parameters.ts
  packages/frontend/src/scripts/upload.ts
  packages/frontend/src/store.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/frontend:test, packages/misskey-js, packages/backend:test

#193 Merge upstream
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/FanoutTimelineEndpointService.ts
  packages/backend/src/misc/is-renote.ts
  packages/backend/src/server/api/stream/channel.ts
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/hashtag.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/streaming.ts
  packages/frontend/src/components/MkFollowButton.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/scripts/tms/is-renote.ts
  packages/frontend/src/store.ts
Labels: packages/frontend, packages/backend, packages/backend:test

#195 fix(frontend): 1:1以外のエラー画像のアスペクト比が崩れる問題
  packages/frontend/src/components/global/MkError.vue
  packages/frontend/src/pages/invite.vue
  packages/frontend/src/pages/list.vue
  packages/frontend/src/pages/role.vue
Labels: packages/frontend

#196 feat(tms): Pull-to-Refreshの感度
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkPullToRefresh.vue
  packages/frontend/src/pages/tms/settings/index.main.vue
  packages/frontend/src/tms/store.ts
Labels: packages/frontend

#197 feat(tms): Pull-to-Refreshでページ全体をリロードする
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkPullToRefresh.vue
  packages/frontend/src/pages/tms/settings/index.main.vue
  packages/frontend/src/tms/store.ts
Labels: packages/frontend

#199 Merge upstream
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/MfmService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/Role.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/test/unit/RoleService.ts
  packages/frontend/src/pages/admin/RolesEditorFormula.vue
  packages/frontend/src/pages/page.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js, packages/backend:test

#202 Merge upstream
  CHANGELOG.md
  packages/backend/src/server/ServerService.ts
  packages/frontend/package.json
  packages/frontend/src/pages/flash/flash-edit.vue
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend

#203 Merge upstream
  CHANGELOG.md
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/MfmService.ts
  packages/backend/src/core/activitypub/models/ApImageService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/page.pug
  packages/backend/test/unit/MfmService.ts
  packages/backend/test/unit/activitypub.ts
  packages/frontend/src/components/MkAbuseReport.vue
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkMention.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/global/MkA.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/reversi/game.board.vue
  packages/frontend/vite.config.local-dev.ts
Labels: packages/frontend, packages/backend, packages/backend:test

#205 hotfix: compact incoming signed activities
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/JsonLdService.ts
  packages/backend/src/core/activitypub/misc/contexts.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend

#206 fix: 連合なしの状態の読み書きができない問題、他
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/tms/visibility.ts
  packages/frontend/src/store.ts
Labels: packages/frontend
